### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [206]:
#Dependencies and Setup
import pandas as pd

#File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

#Read Purchasing File and store into Pandas data frame
pDataDf = pd.read_csv(file_to_load)

#Show head to see the sample of the data
pDataDf.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [207]:
#Calculate Total Player
#Use len to do the count of the data
tPlayers = len(pDataDf["SN"].value_counts())

pCounts = pd.DataFrame({"Total Players":[tPlayers]})
pCounts

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [208]:
#Calculation of the data
nUniqueitems = len(pDataDf['Item Name'].value_counts())
avgPP = pDataDf['Price'].mean()
tPurchases = pDataDf['Price'].sum()

#Put data into a frame
pAnalysisDF = pd.DataFrame({'Number of Unique Items':[nUniqueitems],
             'Average Price':[avgPP],
             'Number of Purchases': [len(pDataDf)],
             'Total Purchases':[tPurchases]})
pAnalysisDF

#Add $ sign
pAnalysisDF.style.format({'Average Price': '${:.2f}', 'Total Purchases': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [209]:
#Use drop_duplicates to drop all the same Gender and SN 
#Do declare and do calculation
gender = pDataDf[['SN', 'Gender']]
gData = gender.drop_duplicates()
gCounts = gData['Gender'].value_counts()

totalC = gCounts.sum()
pMale = gCounts[0]/totalC*100
pFemale = gCounts[1]/totalC*100
pOthers = gCounts[2]/totalC*100

gDemographics = pd.DataFrame({"Total count":[gCounts[0], gCounts[1], gCounts[2]],
                            "Percentage of Players":[pMale, pFemale, pOthers]})
gDemographics.index = (["Male", "Female", "Others/Non-Disclosed"])
gDemographics["Percentage of Players"] = gDemographics["Percentage of Players"].map("{:.2f}%".format)
gDemographics

                      Total count Percentage of Players
Male                          484                84.03%
Female                         81                14.06%
Others/Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [210]:
#Purchasing Analysis (Gender)
purchaseGender = pDataDf.groupby(['Gender'])

#Do calculation on the data of purchase for gender: count, mean, sum
puCounts = purchaseGender['Price'].count()
priceMean = purchaseGender['Price'].mean()
totalPu = purchaseGender['Price'].sum()

#AveragePP = totalPu/puCounts
averageToPP = totalPu/gCounts

puAnalysisDF = pd.DataFrame({'Purchase Count': puCounts,
                            'Average Purchase Price': priceMean,
                            'Total Purchase Value': totalPu,
                            'Avg Total Purchase Per Person': averageToPP})
#Add $ sign 
puAnalysisDF.style.format({'Average Purchase Price': '${:.2f}', 
                           'Total Purchase Value': '${:,.2f}', 
                           'Avg Total Purchase Per Person': '${:,.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [211]:
#Set Bins for Ages
#Give a range for the number
ageBins = [0, 9.5, 14.5, 19.5, 24.5, 29.5, 34.5, 39.5, 109.5]
ageRanges = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

pDataDf['Age Demographics'] = pd.cut(pDataDf['Age'], ageBins, labels=ageRanges)

aDemographicsgroup = pDataDf.groupby('Age Demographics')

countDf = aDemographicsgroup.agg({'SN': 'nunique'})
totalAge = countDf.sum()
percentPlayersDF = round((countDf/totalAge)*100, 2)

#Reset the index
countDf = countDf.reset_index()
percentPlayersDF = percentPlayersDF.reset_index()

aDemoDf = countDf.merge(percentPlayersDF, on= 'Age Demographics')
aDemoDf.set_index('Age Demographics', inplace = True)

aDemoDf = aDemoDf.rename(columns={'SN_x': 'Total Count', 
                                  'SN_y': 'Percentage of Players'}) 

aDemoDf["Percentage of Players"] = aDemoDf["Percentage of Players"].map("{:.2f}%".format)

#Drop index name 'Age Demographics'
aDemoDf.index.name = None

aDemoDf

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [212]:
#Do the calculations of the data and group them

purchaseID = aDemographicsgroup["Purchase ID"].count()
averageP = round(aDemographicsgroup["Price"].mean(), 2)
totalPricevalue = round(aDemographicsgroup["Price"].sum(), 2)
countTotal = countDf.set_index("Age Demographics")
countTotal2 = countTotal.merge(totalPricevalue, on="Age Demographics")
totalPricepp= (countTotal2["Price"]/countTotal2["SN"])

puAA = pd.DataFrame({'Purchase Count': purchaseID,
                     'Average Purchase Price': averageP,
                     'Total Purchase Value': totalPricevalue,
                     'Avg Total Purchase per Person': totalPricepp})

puAA.style.format({'Average Purchase Price': '${:.2f}', 
                   'Total Purchase Value': '${:,.2f}', 
                   'Avg Total Purchase per Person': '${:,.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [213]:
#Find top Spender 
#Group 'SN'
#Sort by top spender
topSpenderg = pDataDf.groupby(['SN'])
topSpendera = round(topSpenderg['Price'].mean(),2)
topSpender = topSpenderg['Price'].sum()
topCount = topSpenderg['SN'].count()

spender = pd.DataFrame({'Purchase Count': topCount,
                        'Average Purchase Price': topSpendera,
                        'Total Purchase Value': topSpender})

spenderSort = spender.sort_values(by = 'Total Purchase Value', ascending = False)

spenderSort['Average Purchase Price'] = spenderSort['Average Purchase Price'].map('${:.2f}'.format)
spenderSort['Total Purchase Value'] = spenderSort['Total Purchase Value'].map('${:.2f}'.format)


spenderSort.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [214]:
#Get the Item Id out and then we group by item id and item name 
#Then do count price, item price, total purchase value
#Sort the purchase count column in descending order 

mostPopitems = pDataDf[['Item ID', 'Item Name', 'Price']]
mostPopiG = mostPopitems.groupby(['Item ID','Item Name'])
purchaseCount = mostPopiG['Item Name'].count()
totalPu = mostPopiG['Price'].sum()
itemPrice = totalPu/purchaseCount

mpiDf = pd.DataFrame({'Purchase Count': purchaseCount,
                    'Item Price': itemPrice,
                    'Total Purchase Value': totalPu})

mpiSort = mpiDf.sort_values("Purchase Count",ascending=False)

#map $ sign
mpiSort['Item Price'] = mpiSort['Item Price'].map('${:.2f}'.format)
mpiSort['Total Purchase Value'] = mpiSort['Total Purchase Value'].map('${:.2f}'.format)

mpiSort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [218]:
#Sort the data

mpiSort = mpi.sort_values("Total Purchase Value",ascending=False)

mpiSort['Item Price'] = mpiSort['Item Price'].map('${:.2f}'.format)
mpiSort['Total Purchase Value'] = mpiSort['Total Purchase Value'].map('${:.2f}'.format)

mpiSort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80